body {
  font-family: "Montserrat", sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  background-image: url("Imagenes/Fondos/FondoWeb.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  color: #42727900;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.menu {
  background: linear-gradient(
      180deg,
      rgba(29, 104, 133, 0.685) 5%,
      rgba(11, 14, 19, 0.425) 100%
    ),
    url("./Imagenes/Fondos/fondoCaja.png");
  color: white;
  padding: 19px;
  transition: left 0.3s;
  text-align: center;
  font-size: 25px;
  box-shadow: 3px 3px 8px rgba(190, 16, 16, 0.911);
  color: #f5e4e3f5;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sangre {
  max-width: 60%;
  max-height: 150px;
  margin-top: 4px;
  float: left;
  margin-left: 30px;
}

.zombie {
  max-width: 60%;
  max-height: 100px;
  margin-top: 1px;
  margin-left: 715px;
}

select {
  margin-top: 18px;
  background: transparent;
  color: rgb(245, 205, 205);
  border: 2px solid rgba(255, 255, 255, 0.562);
  margin-bottom: 5px;
  margin-right: 20px;
}

select option {
  background: transparent;
  color: rgba(36, 19, 19, 0.822);
}

select option[disabled] {
  background-color: #701c1c;
  color: #fff;
}

h1 {
  text-shadow: 10px 10px 20px rgba(190, 16, 16, 0.938);
  text-align: auto;
  font-size: 60px;
  margin-right: 20px;
}

h2 {
  text-shadow: 10px 10px 20px rgba(190, 16, 16, 0.938);
  text-align: center;
  font-size: 40px;
  color: #ffffffd2;
  margin-top: 6px;
}

.datos {
  text-shadow: 10px 10px 20px rgba(190, 16, 16, 0.938);
  text-align: center;
  font-size: 25px;
  color: #ffffffee;
  margin-top: 10px;
}
p {
  text-shadow: 6px 6px 12px rgba(190, 16, 16, 0.904);
  text-align: auto;
  font-size: 25px;
}

.boton-clear {
  text-align: center;
  font-size: 18px;
  text-shadow: 3px 3px 8px rgba(190, 16, 16, 0.486);
  color: #cdd8d3f5;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 30px;
}

.boton-clear button[data-testid="button-clear"] {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to bottom, #682522d5, #427279);
  color: #a4cdd4;
  padding: 20px 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 3px 3px 8px rgba(190, 16, 16, 0.486);
  transition: background 0.3s, transform 0.3s;
  text-shadow: 3px 3px 8px rgba(190, 16, 16, 0.486);
  margin-left: 20px;
}

.boton-clear button[data-testid="button-clear"]:hover {
  background-color: #005d36;
  transform: scale(1.05);
  box-shadow: 3px 3px 8px rgba(190, 16, 16, 0.486);
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 14px;
  padding: 11px;
  margin: 0;
}

.dark-theme {
  border: 2px solid #a10f0f4b;
  border-radius: 20px;
  box-shadow: 2px 2px 7px rgba(190, 16, 16, 0.486);
  width: 45%;
  max-height: 500px;
  background: linear-gradient(
    180deg,
    rgba(41, 97, 104, 0.541) 0%,
    rgba(11, 14, 19, 0.685) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  /* Otros estilos específicos para la temática oscura */
}

.dark-theme img {
  max-width: 300%;
  max-height: 190px;
  border-radius: 2px;
}

.dark-theme dt {
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0;
  background: #a10f0f6c;
  color: rgb(232, 238, 229);
  padding: 5px 9px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

.dark-theme dd {
  font-size: 9.3px;
  font-weight: normal;
  margin: 5px 0;
}

.lis {
  color: #cfdbd9;
  padding: 60px; /* Agrega un relleno según sea necesario */
  margin: 20px; /* Agrega márgenes según sea necesario */
  border: 2px solid #a10f0f4b;
  border-radius: 20px;
  box-shadow: 2px 2px 7px rgba(190, 16, 16, 0.486);
  width: 45%;
  text-align: center;
  max-height: 500px;
  background: linear-gradient(
    180deg,
    rgba(41, 97, 104, 0.541) 0%,
    rgba(11, 14, 19, 0.685) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  max-width: 300%;
  max-height: 190px;
  border-radius: 2px;
}

dt {
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0;
  background: #a10f0f6c;
  color: rgb(232, 238, 229);
  padding: 5px 9px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

dd {
  font-size: 9.3px;
  font-weight: normal;
  margin: 5px 0;
}

.creditos {
  margin-top: 10px;
  background: linear-gradient(to top, rgba(192, 6, 6, 0.87) 100%);
  opacity: 0.7;
  padding: 9px;
  text-align: center;
  text-shadow: 3px 3px 8px rgba(190, 16, 16, 0.486);
}

footer {
  color: #effffc;
}

/*DISEÑO MOVIL*/
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }

  .menu {
    width: 113%;
    font-size: 89px;
    height: 100px;
  }

  .container {
    padding: 10px;
  }

  .sangre,
  .zombie {
    max-width: 0%;
    margin: 0;
  }

  li {
    width: 80%;
  }

  ul {
    width: 109.6%;
  }

  h1 {
    font-size: 22px;
    padding: 2px;
    margin-top: 14px;
  }

  .datos {
    font-size: 18px;
    margin-top: 18px;
    width: 120%;
  }

  h2 {
    font-size: 50px;
    padding: 2px;
    margin-top: 14px;
    width: 120%;
  }

  p {
    font-size: 9px;
    padding: 4px;
    margin-top: 13px;
  }

  select {
    font-size: 10.5px;
    padding: 7px;
    margin-top: 13px;
  }

  .creditos {
    display: none;
  }
  .boton-clear {
    text-align: center;
    font-size: 18px; /* Ajusta el tamaño del texto según sea necesario */
    text-shadow: 2px 2px 4px rgba(190, 16, 16, 0.486);
    color: #cdd8d3f5;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .boton-clear button[data-testid="button-clear"] {
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(to bottom, #682522d5, #427279);
    color: #a4cdd4;
    padding: 10px 20px; /* Ajusta el padding según sea necesario */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 2px 2px 4px rgba(190, 16, 16, 0.486);
    transition: background 0.3s, transform 0.3s;
    text-shadow: 2px 2px 4px rgba(190, 16, 16, 0.486);
    margin-left: 10px; /* Ajusta el margen izquierdo según sea necesario */
    margin-right: 10px; /* Ajusta el margen derecho según sea necesario */
  }

  .boton-clear button[data-testid="button-clear"]:hover {
    background-color: #005d36;
    transform: scale(1.05);
    box-shadow: 2px 2px 4px rgba(190, 16, 16, 0.486);
  }
}
