body {
  margin: 0;
  padding: 0;
  background-image: url("Imagenes/Fondos/FondoWeb.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  display: flex; /* Alinea los elementos en una fila */
}

.cajas-personajes {
  display: flex;
  margin: 3px auto;
  grid-template-columns: repeat(6, 1fr);
  gap: 70px;
}

.cajas-personajes ul#root dl {
  border: 2px solid #a10f0f4b;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #cfdbd9;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  box-shadow: 3px 3px 8px rgba(190, 16, 16, 0.486);
  background: linear-gradient(
    180deg,
    rgba(41, 97, 104, 0.541) 0%,
    rgba(11, 14, 19, 0.685) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
}

.cajas-personajes ul#root img {
  max-width: 100%;
  max-height: 200px;
  border-radius: 7px;
}

.cajas-personajes ul#root dt {
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0;
  background: #a10f0f6c;
  color: rgb(232, 238, 229);
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

.cajas-personajes ul#root dd {
  font-size: 14px;
  font-weight: normal;
  margin: 5px 0;
}

select {
  background: transparent;
  color: white;
  border: 1px solid white;
}

select option {
  background: transparent;
  color: rgb(36, 19, 19);
}

.boton-clear {
  text-align: center;
  font-size: 18px;
  text-shadow: 3px 3px 8px rgba(190, 16, 16, 0.486);
  color: #cdd8d3f5;
  font-weight: bold;
  text-transform: uppercase;
}

.boton-clear button[data-testid="button-clear"] {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to bottom, #682522d5, #427279);
  color: #a4cdd4;
  padding: 20px 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 3px 3px 8px rgba(190, 16, 16, 0.486);
  transition: background 0.3s, transform 0.3s;
  margin-top: 20px;
  text-shadow: 3px 3px 8px rgba(190, 16, 16, 0.486);
}

.boton-clear button[data-testid="button-clear"]:hover {
  background-color: #005d36;
  transform: scale(1.05);
  box-shadow: 3px 3px 8px rgba(190, 16, 16, 0.486);
}

.creditos {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 18.1%;
  background: linear-gradient(to top, rgb(11, 14, 19) 100%);
  opacity: 0.7;
  color: #a7b8adde;
  padding: 15px;
  text-align: center;
  text-shadow: 3px 3px 8px rgba(190, 16, 16, 0.486);
}

.menu-oculto {
  margin: 1px auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  height: 71.5%;
  background: linear-gradient(
      180deg,
      rgba(29, 104, 133, 0.685) 5%,
      rgba(11, 14, 19, 0.425) 100%
    ),
    url("./Imagenes/Fondos/fondoCaja.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  z-index: 999;
  transition: left 0.3s;
  text-align: center;
  font-size: 18px;
  box-shadow: 3px 3px 8px rgba(190, 16, 16, 0.486);
  color: #cdd8d3f5;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-shadow: 3px 3px 8px rgba(190, 16, 16, 0.486);
}

.menu-icon {
  margin: 2px auto;
  font-size: 24px;
  cursor: pointer;
  color: #c8d3c7ec;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  box-shadow: 3px 3px 8px rgba(190, 16, 16, 0.486);
}

.zombie {
  max-width: 80%;
  max-height: 200px;
  margin-top: 40px;
}

.sangre {
  max-width: 80%;
  max-height: 170px;
  margin-top: 50px;
}
